@font-face {
	font-family: 'Conv_Roboto-Bold';
	src: url('/assets/fonts/Roboto-Bold.eot');
    src: local('☺'), url('/assets/fonts/Roboto-Bold.woff') format('woff'), 
    url('/assets/fonts/Roboto-Bold.ttf') format('truetype'), 
    url('/assets/fonts/Roboto-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'Conv_Teko-Bold';
	src: url('/assets/fonts/Teko/Teko-Bold.eot');
    src: local('☺'), url('/assets/fonts/Teko/Teko-Bold.woff') format('woff'), 
    url('/assets/fonts/Teko/Teko-Bold.ttf') format('truetype'), 
    url('/assets/fonts/Teko/Teko-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}